.hide {
  display: none;
}
/* NEED TO MAKE CENTERED */
body {
  font-family: "Zilla Slab", serif;
  font-size: 40px;
  background-image: url(../image/stars.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 2.5rem 5rem;
  display: flex;
  text-align: center;
    align-items: center;
    justify-content: center;
}

/* this is good! it all works */
button {
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: #040300;
  border-radius: 5px;
  padding: 2px 10px;
  color: rgba(195, 12, 94, 0.73);
  border: 0;
  transition: background-color 0.1s;
  display: inline-block;
}

main { 
    text-align: center;
    align-items: center;
    justify-content: center;
    display:flex;
    gap: 20px;
    padding: 40px;
    font-size: 40px;
    background-color: rgba(23, 231, 92, 0.50);
}
